@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --neutral-white: #ffffff;
  --neutral-black: #000000;

  --brand-blue: #1497e3;
  --brand-green: #68c949;

  --gray-50: #FAFAFA;
  --gray-100: #F4F4F5;
  --gray-200: #E4E4E7;
  --gray-300: #D1D1D6;
  --gray-400: #B0B0B8;
  --gray-500: #8E8E98;
  --gray-600: #6E6E78;
  --gray-700: #4E4E58;
  --gray-800: #27272E;
  --gray-900: #1A1A1F;
  --gray-950: #060608;

  --slate-50: #F9FAFB;
  --slate-100: #F1F3F5;
  --slate-200: #E2E6EA;
  --slate-300: #CDD3DA;
  --slate-400: #AAB3BD;
  --slate-500: #87939E;
  --slate-600: #66717C;
  --slate-700: #4B5762;
  --slate-800: #2C343D;
  --slate-900: #1F272F;
  --slate-950: #0F1214;

  --blue-50: #ECF6FE;
  --blue-100: #DDEFFD;
  --blue-200: #C0E2FC;
  --blue-300: #78BCF0;
  --blue-400: #1A93EF;
  --blue-500: #007BD9;
  --blue-600: #005AA1;
  --blue-700: #004C87;
  --blue-800: #003E6E;
  --blue-900: #003054;
  --blue-950: #00213B;

  --green-50: #F0FCEC;
  --green-100: #E3F8DC;
  --green-200: #C8F1BB;
  --green-300: #9FE38A;
  --green-400: #71CE53;
  --green-500: #52B434;
  --green-600: #3D8527;
  --green-700: #326B20;
  --green-800: #224916;
  --green-900: #132B0C;
  --green-950: #0A1706;

  --red-50: #FFEDEB;
  --red-100: #FFDAD6;
  --red-200: #FDC0B9;
  --red-300: #FA8C80;
  --red-400: #F35A49;
  --red-500: #E0230F;
  --red-600: #BB1D0C;
  --red-700: #8E180B;
  --red-800: #60130B;
  --red-900: #3A0D08;
  --red-950: #1E0805;

  --orange-50: #FFF3EB;
  --orange-100: #FFE6D6;
  --orange-200: #FDD1B4;
  --orange-300: #F8B181;
  --orange-400: #F19150;
  --orange-500: #ED701D;
  --orange-600: #C15710;
  --orange-700: #934510;
  --orange-800: #62300E;
  --orange-900: #381C0A;
  --orange-950: #1D0F06;

  --background: var(--neutral-white);
  --foreground: var(--gray-950);

  --card: var(--gray-50);
  --card-foreground: var(--foreground);

  --popover: var(--gray-50);
  --popover-foreground: var(--foreground);

  --primary: var(--blue-500);
  --primary-foreground: var(--neutral-white);

  --secondary: var(--gray-100);
  --secondary-foreground: var(--gray-800);

  --muted: var(--gray-200);
  --muted-foreground: var(--gray-600);

  --accent: var(--blue-500);
  --accent-foreground: var(--neutral-white);

  --destructive: var(--red-500);
  --destructive-foreground: var(--neutral-white);

  --border: var(--gray-200);
  --input: var(--slate-300);
  --ring: var(--blue-400);

  --chart-1: var(--blue-500);
  --chart-2: var(--blue-400);
  --chart-3: var(--blue-300);
  --chart-4: var(--blue-200);
  --chart-5: var(--blue-100);

  --sidebar: var(--slate-800);
  --sidebar-foreground: var(--neutral-white);
  --sidebar-primary: var(--blue-500);
  --sidebar-primary-foreground: var(--neutral-white);
  --sidebar-accent: var(--slate-950);
  --sidebar-accent-foreground: var(--neutral-white);
  --sidebar-border: var(--slate-700);
  --sidebar-ring: var(--blue-400);

  --radius: 0.375rem;
}

.dark {
  --background: var(--neutral-black);
  --foreground: var(--neutral-white);

  --card: var(--gray-950);
  --card-foreground: var(--foreground);

  --popover: var(--gray-950);
  --popover-foreground: var(--foreground);

  --primary: var(--blue-500);
  --primary-foreground: var(--neutral-white);

  --secondary: var(--gray-900);
  --secondary-foreground: var(--gray-200);

  --muted: var(--gray-800);
  --muted-foreground: var(--gray-400);

  --accent: var(--blue-500);
  --accent-foreground: var(--neutral-white);

  --destructive: var(--red-500);
  --destructive-foreground: var(--neutral-white);

  --border: var(--gray-800);
  --input: var(--slate-700);
  --ring: var(--blue-600);

  --chart-1: var(--blue-500);
  --chart-2: var(--blue-400);
  --chart-3: var(--blue-300);
  --chart-4: var(--blue-200);
  --chart-5: var(--blue-100);

  --sidebar: var(--slate-800);
  --sidebar-foreground: var(--neutral-white);
  --sidebar-primary: var(--blue-500);
  --sidebar-primary-foreground: var(--neutral-white);
  --sidebar-accent: var(--blue-500);
  --sidebar-accent-foreground: var(--neutral-white);
  --sidebar-border: var(--slate-700);
  --sidebar-ring: var(--blue-400);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}
